/target
.env
SERVER_STATE.json
/.vscode
/build
/logs
*.log
/tls
/build_release
/configure.bat
/configure.sh
/build.bat
/build.sh
/.venv
/__pycache__
/*.exe
/mobile
/mobile2
/mobile3
/src/client/*
/netter_core/target
/netter_logger/target
/netter_service/target
/logs_cli
/netter_plugins_hub
/netter_test
/netter_core/build.rs
/netter_core/src/utils
